.results {
    margin: 2rem 0;
    background-color: rgba(29, 185, 84, 0.8);
    justify-content: flex-start;
    width: 45%;
    border-radius: 1rem;
}

.results-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

h2 {
    color: white;
    padding-top: 0.5rem;
    font-size: 2rem;
}

.Track {
    padding: 0.2rem 0;
    margin: 0.2rem 0.5rem;
    border: 1px white solid;
}

input {
    color: white;
    font-size: 2rem;
}